#Description

In [5]:
# The code was removed by Watson Studio for sharing.

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,169544,NaN,507,2015-07-01,2015-07-01,A,1
1,169544,NaN,604,2015-07-01,2015-07-01,A,23
2,169544,NaN,1100,2015-07-01,2015-07-01,A,5
3,169544,NaN,1200,2015-07-01,2015-07-01,A,29
4,169544,NaN,1800,2015-07-01,2015-07-01,A,8